@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@500;600&display=swap');

$primary-font-stack: 'Open Sans', sans-serif;
$secondary-font-stack: 'Poppins', sans-serif;

$white: #ffffff;
$primary-dark: #212121;
$brown: #caa892;
$green: #37806b;
$primary-grey: #646464;
$secondary-grey: #eeeeee;
$primary-dark-white: #f8f8f8;

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
