<section class="work" id="work">
  <div class="container work__container">
    <h2 class="work__heading">3000+ Completed Work<br> Which WE have Successfully Done</h2>
    <ul class="work__list">
      <li class="work__item">
        <span class="work__item_large">980</span>
        <span>Project</span>
      </li>
      <li class="work__item">
        <span class="work__item_large">520</span>
        <span>Happy Client</span>
      </li>
      <li class="work__item">
        <span class="work__item_large">330</span>
        <span>Winners</span>
      </li>
      <li class="work__item">
        <span class="work__item_large">120</span>
        <span>Recoment</span>
      </li>
    </ul>
  </div>
</section>
