<section class="work" id="work">
  <div class="container work__container">
    <h2 class="work__heading">3000+ Completed Work<br> Which WE have Successfully Done</h2>
    <ul class="work__list">
      <li class="work__item">
        <span class="work__item_large">980</span>
        <span>Project</span>
      </li>
      <li class="work__item">
        <span class="work__item_large">520</span>
        <span>Happy Client</span>
      </li>
      <li class="work__item">
        <span class="work__item_large">330</span>
        <span>Winners</span>
      </li>
      <li class="work__item">
        <span class="work__item_large">120</span>
        <span>Recoment</span>
      </li>
      <li class="work__svg">
        <svg class="line" xmlns="http://www.w3.org/2000/svg" width="219" height="98" viewBox="0 0 219 98" fill="none">
          <path class="path" d="M0.99353 1H97.4935V97H218.994" stroke="#E0E0E0" stroke-width="2" />
        </svg>
        <svg class="line" xmlns="http://www.w3.org/2000/svg" width="219" height="97" viewBox="0 0 219 97" fill="none">
          <path class="path" d="M0.99353 96H97.4935V1H218.994" stroke="#E0E0E0" stroke-width="2" />
        </svg>
        <svg class="line" xmlns="http://www.w3.org/2000/svg" width="219" height="108" viewBox="0 0 219 108" fill="none">
          <path class="path" d="M0.99353 1H97.4935V107H218.994" stroke="#E0E0E0" stroke-width="2" />
        </svg>
    </ul>
  </div>
</section>
