<footer class="footer">
  <div class="footer__upper-content">
    <div class="container footer__container">
      <div class="footer__logo">
        <a href="./index.html"><img src="./assets/logo.png" alt="Logo"></a>
        <p>But I must explain to you all this mistaken
          idea of dencouncing pleasure.</p>
      </div>
      <ul class="footer__list">
        <li class="footer__item">
          <h3 class="footer__heading">Quick Links</h3>
          <ul class="footer__links">
            <li><a href="">About Our Company</a></li>
            <li><a href="">Services WE provide</a></li>
            <li><a href="">Career & Opportunity</a></li>
            <li><a href="">Privacy & policy</a></li>
            <li><a href="">Contact US</a></li>
          </ul>
        </li>
        <li class="footer__item">
          <h3 class="footer__heading">Company</h3>
          <ul class="footer__links">
            <li><a href="">About Company</a></li>
            <li><a href="">Our Testimonials</a></li>
            <li><a href="">Latest News</a></li>
            <li><a href="">Our misson</a></li>
            <li><a href="">Get a free Quot</a></li>
          </ul>
        </li>
        <li class="footer__item">
          <h3 class="footer__heading">Contact us</h3>
          <ul class="footer__links">
            <li><a href="">Sagrada Familia, Herba
                Street Front USA</a></li>
            <li><a href="mailto:brandoxide@gmail.com">brandoxide@gmail.com</a></li>
            <li><a href="tel:002568423591">002-568423591</a></li>
          </ul>
        </li>
        <li class="footer__item">
          <h3 class="footer__heading">Follow Us</h3>
          <ul class="footer__social-links">
            <li>
              <a href="https://www.facebook.com/" target="_blank" rel="noreferrer noopener">
                <svg width="19" height="23">
                  <use href="./assets/sprite.svg#facebook"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/" target="_blank" rel="noreferrer noopener">
                <svg width="20" height="20">
                  <use href="./assets/sprite.svg#twitter"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/" target="_blank" rel="noreferrer noopener">
                <svg width="20" height="20">
                  <use href="./assets/sprite.svg#instagram"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="https://www.linkedin.com/feed/" target="_blank" rel="noreferrer noopener">
                <svg width="20" height="20">
                  <use href="./assets/sprite.svg#linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer__bottom-content">
    <div class="container">
      <p class="footer__rights">&#169;Copyright&nbsp;<span id="time">2020</span>&nbsp;<span
          class="footer__rights_colored">Brandoxide</span>. All right reserved.</p>
    </div>
  </div>
</footer>
