<header class="header">
  <div class="container header__container">
    <img class="header__logo" src="./assets/logo.png" alt="Decbase logo">
    <nav class="header__nav">
      <ul class="header__list">
        <li class="header__item"><a href="" class="header__link">Home</a></li>
        <li class="header__item"><a href="" class="header__link">Project</a></li>
        <li class="header__item"><a href="" class="header__link">Services</a></li>
        <li class="header__item"><a href="" class="header__link">About</a></li>
        <li class="header__item"><a href="" class="header__link">Blog</a></li>
        <li class="header__item"><a href="" class="header__link">Shop</a></li>
        <li class="header__item"><a href="" class="header__link">Contact</a></li>
      </ul>
    </nav>
    <button type="button" class="secondary-button header__button">Sign Up</button>
  </div>
</header>
