<section class="news" id="blog">
  <div class="container news__container">
    <p class="news__pre-heading">Latest news</p>
    <h2 class="news__heading">From Our Blog</h2>
    <ul class="news__list">
      <li class="news__item">
        <div class="news__article">
          <div class="news__thumb">
            <img src="./assets/design-trends.jpg" alt="Closet next to the mirror">
          </div>
          <div class="news__content">
            <h3 class="news__post-heading">Sustainable Urban Mobility</h3>
            <p class="news__description">Discover the rising trend of eco-friendly transportation options and their
              positive impact on urban mobility and the
              environment.</p>
          </div>
        </div>
        <a aria-disabled="true" role="link" class="primary-button news__button">Continue reading...</a>
      </li>
      <li class="news__item">
        <div class="news__article">
          <div class="news__thumb">
            <img src="./assets/notable-product.jpg" alt="Sunny living room">
          </div>
          <div class="news__content">
            <h3 class="news__post-heading">Mindfulness: Transforming Lives</h3>
            <p class="news__description">Discover the profound effects of mindfulness practices on mental well-being and
              overall life satisfaction in this
              enlightening article.</p>
          </div>
        </div>
        <a aria-disabled="true" role="link" class="primary-button news__button">Continue reading...</a>
      </li>
    </ul>
  </div>
</section>
