<section class="news">
  <div class="container news__container">
    <p class="news__pre-heading">Latest news</p>
    <h2 class="news__heading">From Our Blog</h2>
    <ul class="news__list">
      <li class="news__item">
        <div class="news__thumb">
          <img src="./assets/design-trends.jpg" alt="Closet next to the mirror">
        </div>
        <h3 class="news__post-heading">2020 Interior Design Trends</h3>
        <p class="news__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
          incididunt ut labore et dolore magna aliqua.</p>
        <a href="" class="primary-button news__button">Continue reading...</a>
      </li>
      <li class="news__item">
        <div class="news__thumb">
          <img src="./assets/notable-product.jpg" alt="Sunny living room">
        </div>
        <h3 class="news__post-heading">28 Notable Product at ARC Interior Design</h3>
        <p class="news__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
          incididunt ut labore et dolore magna aliqua.</p>
        <a href="" class="primary-button news__button">Continue reading...</a>
      </li>
    </ul>
  </div>
</section>
