<section class="welcome" id="home">
  <div class="container welcome__container">
    <div class="welcome__content">
      <p class="welcome__pre-heading">MODERN INTERIOR</p>
      <h1 class="welcome__heading">Create Your Interior Design.</h1>
      <p class="welcome__description">
        Moving into a new home can be one of life’s great joys, but it can also be a time of uncertainty, especially
        when it comes to decorating. How do you make your space look its best while reflecting your personal sense of
        style?
        With a little planning, and by following the same steps used by professional interior designers, you’ll have a
        much greater chance of success.
      </p>
      <button type="button" class="primary-button welcome__button">Contact</button>
    </div>
    <div class="welcome__thumb">
      <img class="welcome__picture" src="./assets/interior-design.jpg"
        alt="A room with grey and dark green chairs and tall lamp">
    </div>
  </div>
</section>
