<section class="welcome">
  <div class="container welcome__container">
    <div class="welcome__content">
      <p class="welcome__pre-heading">MODERN INTERIOR</p>
      <h1 class="welcome__heading">Create Your Interior Design.</h1>
      <p class="welcome__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation.
      </p>
      <button type="button" class="primary-button welcome__button">Contact</button>
    </div>
    <div class="welcome__thumb">
      <img class="welcome__picture" src="./assets/interior-design.jpg"
        alt="A room with grey and dark green chairs and tall lamp">
    </div>
  </div>
</section>
