<section class="sign-up">
  <div class="container sign-up__container">
    <h2 class="sign-up__heading">Don't forget to sign up</h2>
    <p class="sign-up__description">Find out early about all upcoming promotions and new product releases with
      our newsletter.</p>
    <form class="sign-up__form" autocomplete="off">
      <div class="sign-up__field">
        <label for="name" class="sign-up__label">Name</label>
        <input id="name" type="text" name="name" placeholder="Enter your name..." class="sign-up__input">
      </div>
      <div class="sign-up__field">
        <label for="surname" class="sign-up__label">Surname</label>
        <input id="surname" type="text" name="surname" placeholder="Enter your surname..." class="sign-up__input">
      </div>
      <div class="sign-up__field">
        <label for="email" class="sign-up__label">Name</label>
        <input id="email" type="email" name="email" placeholder="Enter your e-mail..." class="sign-up__input">
      </div>
      <button type="submit" class="primary-button sign-up__button">Subscribe</button>
    </form>
  </div>
</section>
