<section class="yoda">
  <div class="container yoda__container">
    <p class="yoda__pre-heading">To talk like Yoda learn, with...</p>
    <h2 class="yoda__heading">The Yoda speak-generator</h2>
    <img class="yoda__picture" src="./assets/yoda.png" alt="Yoda">
    <p class="yoda__description">Convert your English text into Yoda-speak! <br> Ratelimiting: for public API calls this
      is 60 API calls a day with distribution of 5 calls an hour.</p>
    <form class="yoda__form">
      <span class="yoda__label">Type here</span>
      <textarea class="yoda__input" name="text"></textarea>
      <p class="yoda__error"></p>
      <button type="submit" class="primary-button yoda__button">Convert to Yoda-speak!</button>
    </form>
    <span class="yoda__label">Output</span>
    <p class="yoda__output"></p>
  </div>
</section>
