<section class="testimonials">
  <div class="container testimonials__container">
    <p class="testimonials__pre-heading">Testimonials</p>
    <h2 class="testimonials__heading">Client says about us</h2>
    <div class="testimonials__control">
      <button type="button" class="testimonials__button testimonials__button_left">
        <svg width="24" height="24">
          <use href="./assets/sprite.svg#arrow"></use>
        </svg>
      </button>
      <button type="button" class="testimonials__button testimonials__button_right">
        <svg width="24" height="24">
          <use href="./assets/sprite.svg#arrow"></use>
        </svg>
      </button>
    </div>
    <div class="testimonials__comments swiper">
      <ul class="testimonials__list swiper-wrapper">
        <li class="testimonials__item swiper-slide">
          <div class="testimonials__thumb">
            <img src="./assets/louis.jpg" alt="Louis Saville /CEO at Google inc">
          </div>
          <span class="testimonials__quote-mark">”</span>
          <div class="testimonials__content">
            <h3 class="testimonials__label"><span class="testimonials__label_bold">Louis Saville&nbsp;</span>/CEO at
              Google
              inc</h3>
            <p class="testimonials__description">
              I've always believed that the design of our living spaces influences not just how we work and create but
              also how we
              feel. Investing in thoughtful interior design can boost creativity, productivity, and employee
              satisfaction – key
              ingredients for a thriving workplace!"
            </p>
          </div>
        </li>
        <li class="testimonials__item swiper-slide">
          <div class="testimonials__thumb">
            <img src="./assets/rekha.jpg" alt="Rekha Varadwaz /Manager at Nike inc">
          </div>
          <span class="testimonials__quote-mark">”</span>
          <div class="testimonials__content">
            <h3 class="testimonials__label"><span class="testimonials__label_bold">Rekha Varadwaz&nbsp;</span>/Manager
              at Nike
              inc</h3>
            <p class="testimonials__description">
              The minimalist and futuristic elements of modern interior design resonate with the tech industry's
              forward-thinking
              spirit. I'm impressed by how it fosters an atmosphere of innovation and inspires teams to tackle
              challenges creatively.
            </p>
          </div>
        </li>
        <li class="testimonials__item swiper-slide">
          <div class="testimonials__thumb">
            <img src="./assets/louis.jpg" alt="Ethan Walker /Manager at
              Solutions">
          </div>
          <span class="testimonials__quote-mark">”</span>
          <div class="testimonials__content">
            <h3 class="testimonials__label"><span class="testimonials__label_bold">Ethan Walker&nbsp;</span>/Manager at
              Solutions</h3>
            <p class="testimonials__description">
              Elegance never goes out of style, and timeless interior design choices reflect sophistication and enduring
              appeal.
              Creating spaces that remain relevant and attractive for years to come aligns with our long-term vision and
              values.
            </p>
          </div>
        </li>
        <li class="testimonials__item swiper-slide">
          <div class="testimonials__thumb">
            <img src="./assets/rekha.jpg" alt="Emma Anderson /Chief
              Marketing Officer">
          </div>
          <span class="testimonials__quote-mark">”</span>
          <div class="testimonials__content">
            <h3 class="testimonials__label"><span class="testimonials__label_bold">Emma Anderson&nbsp;</span>/Chief
              Marketing Officer</h3>
            <p class="testimonials__description">
              As a company committed to environmental responsibility, we value interior design that prioritizes
              sustainability.
              Utilizing eco-friendly materials and energy-efficient practices not only benefits the planet but also
              reflects our
              dedication to corporate social responsibility.
            </p>
          </div>
        </li>
        <li class="testimonials__item swiper-slide">
          <div class="testimonials__thumb">
            <img src="./assets/rekha.jpg" alt="Isabella Martinez /UX/UI Designer at PixelCraft ">
          </div>
          <span class="testimonials__quote-mark">”</span>
          <div class="testimonials__content">
            <h3 class="testimonials__label"><span class="testimonials__label_bold">Isabella Martinez&nbsp;</span>/UX/UI
              Designer at PixelCraft</h3>
            <p class="testimonials__description">
              Providing dedicated creativity zones within our offices is vital for nurturing the imaginative minds of
              our teams. From
              art-filled corners to playful breakout areas, these spaces foster inventive thinking and spark the next
              big ideas!
            </p>
          </div>
        </li>
        <li class="testimonials__item swiper-slide">
          <div class="testimonials__thumb">
            <img src="./assets/rekha.jpg" alt="James Nguyen /Research Scientist at BioGenetics">
          </div>
          <span class="testimonials__quote-mark">”</span>
          <div class="testimonials__content">
            <h3 class="testimonials__label"><span class="testimonials__label_bold">James Nguyen&nbsp;</span>/Research
              Scientist at BioGenetics</h3>
            <p class="testimonials__description">
              Versatility is key in modern interior design. Spaces that can effortlessly adapt to various activities,
              from
              presentations to relaxation areas, ensure our offices are dynamic and cater to our diverse workforce.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
