<section class="testimonials">
  <div class="container testimonials__container">
    <p class="testimonials__pre-heading">Testimonials</p>
    <h2 class="testimonials__heading">Client says about us</h2>
    <div class="testimonials__control">
      <button type="button" class="testimonials__button testimonials__button_left">
        <svg width="24" height="24">
          <use href="./assets/sprite.svg#arrow"></use>
        </svg>
      </button>
      <button type="button" class="testimonials__button testimonials__button_right">
        <svg width="24" height="24">
          <use href="./assets/sprite.svg#arrow"></use>
        </svg>
      </button>
    </div>
    <div class="testimonials__comments">
      <ul class="testimonials__list">
        <li class="testimonials__item">
          <div class="testimonials__thumb">
            <img src="./assets/louis.jpg" alt="Louis Saville /CEO at Google inc">
          </div>
          <span class="testimonials__quote-mark">”</span>
          <div class="testimonials__content">
            <h3 class="testimonials__label"><span class="testimonials__label_bold">Louis Saville&nbsp;</span>/CEO at
              Google
              inc</h3>
            <p class="testimonials__description">
              Lorem ipsum dolor sit amet, consectetur adipiscing
              elit, sed do eiusmod tempor incididunt ut labore
              et dolore magna aliqua.
            </p>
          </div>
        </li>
        <li class="testimonials__item">
          <div class="testimonials__thumb">
            <img src="./assets/rekha.jpg" alt="Rekha Varadwaz /Manager at Nike inc">
          </div>
          <span class="testimonials__quote-mark">”</span>
          <div class="testimonials__content">
            <h3 class="testimonials__label"><span class="testimonials__label_bold">Rekha Varadwaz&nbsp;</span>/Manager
              at Nike
              inc</h3>
            <p class="testimonials__description">
              Lorem ipsum dolor sit amet, consectetur adipiscing
              elit, sed do eiusmod tempor incididunt ut labore
              et dolore magna aliqua.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
