<section class="service">
  <div class="container service__container">
    <p class="service__pre-heading">What we do</p>
    <h2 class="service__heading">Our Service</h2>
    <ul class="service__filters-list">
      <li class="service__filters-item service__filters-item_active">
        All
      </li>
      <li class="service__filters-item">
        Bedroom
      </li>
      <li class="service__filters-item">
        Entryway
      </li>
      <li class="service__filters-item">
        Living Room
      </li>
    </ul>
    <ul class="service__list">
      <li class="service__item">
        <svg width="44" height="44">
          <use href="./assets/sprite.svg#design"></use>
        </svg>
        <div class="service__content">
          <h3 class="service__post-heading">Bedroom</h3>
          <p class="service__description">
            Designed correctly, a bedroom can serve as your nightly sanctuary.
          </p>
        </div>
      </li>
      <li class="service__item">
        <svg width="44" height="44">
          <use href="./assets/sprite.svg#architecture"></use>
        </svg>
        <div class="service__content">
          <h3 class="service__post-heading">Entryway</h3>
          <p class="service__description">
            The foyer or entrance hall creates the first impression, so make it count.
          </p>
        </div>
      </li>
      <li class="service__item">
        <svg width="44" height="44">
          <use href="./assets/sprite.svg#planning"></use>
        </svg>
        <div class="service__content">
          <h3 class="service__post-heading">Living Room</h3>
          <p class="service__description">
            The main living areas, whether they are separate rooms or combined in an open-concept space.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
