<section class="service">
  <div class="container service__container">
    <p class="service__pre-heading">What we do</p>
    <h2 class="service__heading">Our Service</h2>
    <ul class="service__filters-list">
      <li class="service__filters-item service__filters-item_active">
        All
      </li>
      <li class="service__filters-item">
        Interior design
      </li>
      <li class="service__filters-item">
        Architecture
      </li>
      <li class="service__filters-item">
        Planning
      </li>
    </ul>
    <ul class="service__list">
      <li class="service__item">
        <svg width="44" height="44">
          <use href="./assets/sprite.svg#design"></use>
        </svg>
        <div class="service__content">
          <h3 class="service__post-heading">Interior Design</h3>
          <p class="service__description">
            Lorem ipsum dolor amet consectetur
            adipiscing elit sed eiusmod tempor
            incididunt ut labore.
          </p>
        </div>
      </li>
      <li class="service__item">
        <svg width="44" height="44">
          <use href="./assets/sprite.svg#architecture"></use>
        </svg>
        <div class="service__content">
          <h3 class="service__post-heading">Architecture</h3>
          <p class="service__description">
            Lorem ipsum dolor amet consectetur
            adipiscing elit sed eiusmod tempor
            incididunt ut labore.
          </p>
        </div>
      </li>
      <li class="service__item">
        <svg width="44" height="44">
          <use href="./assets/sprite.svg#planning"></use>
        </svg>
        <div class="service__content">
          <h3 class="service__post-heading">Planning</h3>
          <p class="service__description">
            Lorem ipsum dolor amet consectetur
            adipiscing elit sed eiusmod tempor
            incididunt ut labore.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
