.header {
  background-color: $white;

  &__container {
    display: flex;
    align-items: center;
  }

  &__logo {
    width: 150px;
    height: 46px;
  }

  &__nav {
    position: sticky;
    margin-left: auto;
    padding: 24px 0;
    background-color: $white;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 104px;
    height: 36px;
    font-family: inherit;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    color: inherit;
    border: 5px solid transparent;
    border-radius: 20px;
    transition: color 250ms $timing-function,
      border-color 250ms $timing-function;

    &:hover {
      color: $green;
      border-color: $green;
    }
  }

  &__button {
    width: 100px;
    height: 32px;
    margin-left: 84px;
  }
}
